<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav ms-sm-auto">
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a>
  </div>
</div>
