<section>
  <div class="card">
    <h1 class="card-header h6"><%= title %></h1>
    <div class="card-body">
      <p>You are logged in!</p>
      <div>
        <a class="btn btn-primary" href="/quiz" role="button">クイズに挑戦</a>
      </div>
    </div>
  </div>
</section>
