<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./partials/meta'); %>
    <title>404 NotFound</title>
    <%- include('./partials/common_assets'); %>
  </head>
  <body class="d-flex flex-column vh-100 bg-light">
    <%- include('./partials/header'); %>
    <div class="flex-grow-1 flex-shrink-0 container my-4">
      <main>
        <section>
          <h1 class="h6">404 NotFound</h1>
          <p>ページが見つかりませんでした。</p>
        </section>
      </main>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
