<section>
  <div class="card">
    <h1 class="card-header h6"><%= title %></h1>
    <div class="card-body">
      <div class="d-grid col-6 mx-auto">
        <button id="quizStartBtn" class="btn btn-primary" type="button">
          Start
        </button>
      </div>
    </div>
  </div>
</section>
