<%- include('partials/header', {title: 'Register'}); %>
<main>
  <section>
    <div class="card">
      <h1 class="card-header h6">Register</h1>
      <div class="card-body">
        <form>
          <div class="form-box d-sm-table w-100 mx-auto">
            <dl class="d-sm-table-row">
              <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
                <label for="inputName" class="text-nowrap">Name</label>
              </dt>
              <dd class="d-sm-table-cell w-100 p-sm-2">
                <input
                  type="text"
                  name="registerName"
                  id="inputName"
                  class="form-control"
                />
              </dd>
            </dl>
            <dl class="d-sm-table-row">
              <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
                <label for="inputEmail" class="text-nowrap">
                  E-Mail Address
                </label>
              </dt>
              <dd class="d-sm-table-cell w-100 p-sm-2">
                <input
                  type="email"
                  name="registerEmail"
                  id="inputEmail"
                  class="form-control"
                />
              </dd>
            </dl>
            <dl class="d-sm-table-row">
              <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
                <label for="inputPassword" class="text-nowrap">
                  Password
                </label>
              </dt>
              <dd class="d-sm-table-cell w-100 p-sm-2">
                <input
                  type="password"
                  name="registerPassword"
                  id="inputPassword"
                  class="form-control"
                />
              </dd>
            </dl>
            <dl class="d-sm-table-row">
              <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
                <label for="inputConfirmPassword" class="text-nowrap">
                  Confirm Password
                </label>
              </dt>
              <dd class="d-sm-table-cell w-100 p-sm-2">
                <input
                  type="password"
                  name="registerConfirmPassword"
                  id="inputConfirmPassword"
                  class="form-control"
                />
              </dd>
            </dl>
            <dl class="d-sm-table-row">
              <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end"></dt>
              <dd class="d-sm-table-cell w-100 p-sm-2">
                <div
                  class="d-flex flex-column flex-sm-row align-items-sm-center"
                >
                  <button type="submit" class="btn btn-primary">
                    Register
                  </button>
                </div>
              </dd>
            </dl>
          </div>
        </form>
      </div>
    </div>
  </section>
  <div class="alert alert-light border text-center mt-4" role="alert">
    Already have an account?
    <a class="text-decoration-none ms-2" href="/login"> Sign in Here. </a>
  </div>
</main>
<%- include('partials/footer'); %>
